* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100vh;
  /* padding: auto; */
}

body {
  padding-right: 10vw;
    margin: 0;
    font-family: 'Arial', sans-serif;
    justify-content: center;
    background: #faf5e4; 
    color: #004445; 
}

body.dark-mode {
    background: #004445; 
    color: #faf5e4; 
}


/* .contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
} */


