.homepage-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.homepage-login-button {
    margin-top: 5rem;
}

.homepage-slogan {
    margin-bottom: 5vh;
}

.homepage-logo {
    height: 40%;
    max-width: auto;
    scale: inherit;
}

/* laptop: */
@media (max-width: 967px) {
    .homepage-login-button {
        font-size: 1.2rem;
    }

    .homepage-slogan {
        font-size: 1.2rem;
    }
}

/* for iphone: */
@media (max-width: 390px) {
    .homepage-login-button {
        font-size: 1.5rem;
    }

    .homepage-slogan {
        font-size: 1.3rem;
    }
}


.homepage-login-button {
    background-color: #f8b400;
    color: #004445;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
}