body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #faf5e4; 
    color: #004445; 
}

body.dark-mode {
    background: #004445; 
    color: #faf5e4; 
}

#login-form {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #2c786c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #faf5e4;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #f8b400;
    color: #004445;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2c786c;
}