body {
    font-family: 'Arial', sans-serif;
}

.navBar {
    height: 100vh;
    width: 200px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #004445;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    left: 0;
    justify-content: flex-start;
}

.logo {
    margin-top: auto;
    margin-bottom: 5vh;
}

.navBar a {
    padding: 15px;
    text-decoration: none;
    font-size: 26px;
    color: #faf5e4;
    display: flex;
    transition: 0.3s;
}

.navBar a:hover {
    background-color: #2c786c;
}


.profile-message-container {
    flex-direction: row;
    margin-top: 0;
    padding: 10px;
    justify-content: flex-start;
    display: flex;
    align-items: left;
}

#profile-button {
    width: auto;
    height: 40px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0, );
    display: flex;
    align-items: left;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.profile-button:hover {
    transform: scale(1.07);
}

.message-button {
    padding-left: 10px;
}

.message-button:hover {
    /* background-color: #004445; */
    transform: scale(1.07);
}

#profile-img {
    /* height: 40px; */
}

#message-img {
    /* height: 40px; */
}

.navLogo {
    height: 35px;
    width: 35px;
    margin-left: 15px;
}

/* .open-close-nav {
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 790px;
} */

@media (max-width: 390px) {
    .open-close-nav {
        display: flex;
        justify-content: flex-start;
        margin-top: 0;
        margin-bottom: 790px;
        width: 70px;
        height: 50px;
    }
}

.open-close-nav {
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 790px;
    width: 70px;
    height: 50px;
}