h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.success-button {
    margin-top: 10px;
    margin-right: 20px;
}

.issue-button {
    margin-left: 10px;
    margin-bottom: 10px;
}

/* optgroup {
    font-size: 200px;
} */